/* GENERAL */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

li {
  list-style: none;
  padding-left: 5px;
}

/* HEADER */
header {
  padding: 10px 20px;
}

header h1 {
  font-size: 2.5rem;
  display: inline-block;
  vertical-align: middle;
}

#logo {
  vertical-align: middle;
}

/* MAIN */
main {
  background-color: #f6f8f9;
  padding-top: 40px;
  padding-bottom: 20px;
}

.container {
  max-width: 1000px;
  margin: 3px auto;
  background-color: #ffffff;
  padding: 20px 50px;
}

.container.rounded-top {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.container.rounded-bottom {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.list-title {
  color: #494747;
  margin-bottom: 15px;
}

.list-section h3::before {
  content: "\25BE";
}

.checklist {
  display: inline-block;
  width: 20px;
  height: 20px;
  padding: 2px;
  border-radius: 50%;
  text-align: center;
  line-height: 1rem;
  margin-right: 5px;
}

.checklist.tick {
  color: rgb(49, 190, 49);
  border: 1px solid rgb(49, 190, 49);
}

/* BUTTON */
.button {
  font-family: inherit;
  font-size: 0.7rem;
  padding: 6px 12px;
  color: #ffffff;
  background-color: #47adf1;
  border: 2px solid #47adf1;
  border-radius: 5px;
}

.button.disabled {
  color: #cdd3d6;
  background-color: #ffffff;
  border-color: #cdd3d6;
}

/* TAG */
.tag {
  font-size: 0.6rem;
  padding: 6px 12px;
  color: #ffffff;
  background-color: #47adf1;
  border-radius: 20px;
}
